<!--[if lte IE 7]>
<p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
<![endif]-->
{{outlet "sidebar"}}
<div class="planner">
	<div id="wrap">
		{{view "step-two/rightbar"}}
		<header>
			<h1><a href="#">British Standard Cupboards by Plain English</a></h1>
		</header>
		<main style="overflow:visible;" >

			{{outlet "editor"}}
		</main>
		<div id="footer">
		<footer>
			<nav>
				<ul>
					<li>
						<a href="#">Dimensions
						<br>
						<span class="circle">1</span></a>
					</li>
					<li>
						<a class="active" href="#">Design
						<br>
						<span class="circle">2</span></a>
					</li>
					<li>
						<a href="#">Save
						<br>
						<span class="circle">3</span></a>
					</li>
					<li>
						<a href="#">Order
						<br>
						<span class="circle">4</span></a>
					</li>
				</ul>
				<ul class="right">
					<li>
						<a href="#" {{action "saveEditor" view}}>Save</a>
					</li>
					<li>
						<a href="#">Open</a>
					</li>
					<li>
						<a href="#">Exit</a>
					</li>
				</ul>
			</nav>
		</footer>
		</div>
	</div>

<div class="lightboxOverlay">
	<div class="container">
		{{input type="text" value=editorName}}

	<div>
</div>
